<p id="notice"><%= notice %></p>

<div class="container">

  <%= link_to "New Event", new_event_path, {class: "btn btn-secondary text-light", type: "button"} %>

  <br>
  <br>
  
  <div id="calendar"></div>

</div> 