<p id="notice"><%= notice %></p>

<div class="container">

  <% if current_user.admin==true %>
    <%= link_to "New Event", new_event_path, {class: "btn btn-secondary text-light", type: "button"} %>
  <% end %>

  <br>
  <br>
  
  <div id="calendar"></div>

</div> 